doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Canada Skateboard - Downhill Team 2022

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.1.0/js/all.js', crossorigin='anonymous')
        //Jquery
        //script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
        //script(type="text/javascript", src="https://my.charitableimpact.com/widget/js/loader.js?MjIyNjIsbWVkaXVtLGJsdWUsV29ybGQgU2thdGUgR2FtZXMgVGVhbSBDYW5h%0AZGEgMjAyMixncm91cA%3D%3D%0A", id="chimp-button-script2", data-hide-button="true", data-script-id="main").

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container
                a.navbar-brand(href='#page-top')
                    img(src='assets/img/canadaskatewhite.png', alt='CANADA SKATE')
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars.ms-1
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.text-uppercase.ms-auto.py-4.py-lg-0
                        li.nav-item
                            a.nav-link(href='#about') About
                        li.nav-item
                            a.nav-link(href='#services') Sponsor Our Athletes
                        li.nav-item
                            a.nav-link(href='#portfolio') Team Canada 2022

                        //li.nav-item
                        //    a.nav-link(href='#team') Team
                        li.nav-item
                            a.nav-link(href='#contact') Contact
                        li.nav-item
                            a.nav-link(href='https://my.charitableimpact.com/groups/world-skate-games-team-canada-2022') Donate Here
        // Masthead
        header.masthead
            .container
                .masthead-subheading Canada Skateboard Presents:
                .masthead-heading.text-uppercase 2022 NATIONAL DOWNHILL TEAM
                a.btn.btn-primary.btn-xl.text-uppercase(href='#portfolio') Meet Our Athletes
        // About
        section#about.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase About
                    h3.section-subheading.text-muted Our goal is to send Canada’s Downhill Skateboarding Team of 6 men and 6 women to compete against the world's best at the 2022 World Skate Games, being held in Argentina.
                        br
                        li.text-muted When? October 24, 2022 - November 13, 2022
                        li.text-muted Where? San Juan, Argentina
                        br
                        | Check out the <a href="http://wsgargentina2022.com/eng/"> 2022 World Skate Games Official Event Page </a> for more info

                ul.timeline
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/Canada_Skateboard_badge_tranparent-black-300x298.png', alt='world skate')
                        .timeline-panel
                            .timeline-heading
                                h4.subheading What is Canada Skateboard?
                            .timeline-body
                                p.text-muted
                                    | Canada Skateboard is the national body for skateboarding in Canada, recognized by the Canadian Olympic Committee and World Skate.
                                    | The organization is responsible for promoting skateboarding supporting long-term skateboarder development, organizing a national event series, and managing participation at international events.
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/ws.jpg', alt='world skate')
                        .timeline-panel
                            .timeline-heading
                                h4.subheading What is the World Skate Games?
                            .timeline-body
                                p.text-muted
                                    | Overseen by the <a href="https://olympics.com/ioc/overview"> International Olympic Committee, </a> the <a href="http://wsgargentina2022.com/eng/"> World Skate Games </a> consists of 12 sports, and ~7000 athletes representing 80 countries, the highest level of competition in the world.
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/dane-win-wrg-small.jpg', alt='Dane Hanna Wins WRG')
                        .timeline-panel
                            .timeline-heading
                                h4 Canada holds the defending Championship
                            .timeline-body
                                p.text-muted
                                    | In 2019, Canadian <a href="http://www.worldskate.org/skateboarding/news-skateboarding/3127-wrg-2019-downhill-skateboarding.html?highlight=WyJkYW5lIiwiaGFubmEiLCJkYW5lIGhhbm5hIl0="> Dane Hanna brought home the Gold, </a> taking 1st place in Barcelona, Spain. Post-pandemic, the WSG is back and team Canada plans to earn that Gold once again.
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/4.jpg', alt='2019 athlete photo')
                        .timeline-panel
                            .timeline-heading
                                h4 Team Canada Needs Your Help
                            .timeline-body
                                p.text-muted
                                    | Unfortunately, without Government funding, a journey to the <a href="http://www.worldskate.org/">World Skate</a> Games is a cost not all of the athletes on our team can afford. We ask for charitable donations to help subsidize the cost of our safety equipment, travel expenses, and accommodation.
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/troy-leathers.jpg', alt='...')
                        .timeline-panel
                            .timeline-heading
                                h4 Sponsorships & Charitable Donations
                            .timeline-body
                                p.text-muted
                                    | We understand that you have several choices when considering different marketing and community outreach opportunities. By <a href="https://my.charitableimpact.com/groups/world-skate-games-team-canada-2022"> assisting our athletic pursuits, </a> team Canada will have the opportunity to defend our title, as we compete against the Worlds fastest and finest Downhill Skateboarders.
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/diane9.jpg', alt='Make a Charitable Impact')
                        .timeline-panel
                            .timeline-heading
                                h4 Will my donation qualify for the charitable tax credit?
                            .timeline-body
                                p.text-muted
                                    | Yes! Canada Skateboard is a <a href="https://apps.cra-arc.gc.ca/ebci/hacc/srch/pub/dsplyRprtngPrd?q.srchNmFltr=skateboard&q.stts=0007&selectedCharityBn=703050294RR0001&dsrdPg=1"> not-for-profit corporation </a> (703050294RR0001), and a <a href="https://www.canada.ca/en/revenue-agency/services/charities-giving/other-organizations-that-issue-donation-receipts-qualified-donees/other-qualified-donees-listings/list-registered-canadian-amateur-athletic-associations.html#reg"> Registered Canadian Amateur Athletic Association </a> (703050294RR0001). We use <a href="https://my.charitableimpact.com/groups/world-skate-games-team-canada-2022"> Charitable Impact </a> to accept donations and generate a <a href="https://www.canada.ca/en/revenue-agency/services/charities-giving/charities/operating-a-registered-charity/issuing-receipts/what-information-must-on-official-donation-receipt-a-registered-charity.html"> donation receipt </a> for your tax return.
                    li.timeline-inverted
                        .timeline-image
                            h4
                                | Be Part
                                br
                                | Of Our
                                br
                                | Story!
        // Services
        section#services.page-section
        .container
            .text-center
                h2.section-heading.text-uppercase Sponsor Our Athletes
                h3.section-subheading.text-muted Your contribution sets up our Athletes for Success.
            .row.text-center
                .col-md-4
                    span.fa-stack.fa-4x
                        i.fas.fa-circle.fa-stack-2x.text-primary
                        i.fas.fa-medkit.fa-stack-1x.fa-inverse
                    h4.my-3 Safety Equipment
                    p.text-muted
                        | Safety of our riders is our number 1 priority. Safety equipment includes: full leather racing suits with CE certified padding, full-face helmets, slide gloves, and brakesoles.
                .col-md-4
                    span.fa-stack.fa-4x
                        i.fas.fa-circle.fa-stack-2x.text-primary
                        i.fas.fa-plane.fa-stack-1x.fa-inverse
                    h4.my-3 Travel Expenses
                    p.text-muted
                        | Help us get our team to the world finals! Travel Expenses Include: Insurance, Airfare, and Transportation.
                .col-md-4
                    span.fa-stack.fa-4x
                        i.fas.fa-circle.fa-stack-2x.text-primary
                        i.fas.fa-bed.fa-stack-1x.fa-inverse
                    h4.my-3 Accommodation
                    p.text-muted
                        | Proper nutrition and rest are key to our athletes health and performance. Accommodation Include: Lodging and Meals during our stay in Argentina.
            .text-center(id="script_widget_button")
                a.btn.btn-primary.btn-xl.btn-round(href="https://my.charitableimpact.com/groups/world-skate-games-team-canada-2022") Donate Now
                //script(type="text/javascript", src="https://my.charitableimpact.com/widget/js/loader.js?MjIyNjIsbGFyZ2UsYmx1ZSxXb3JsZCBTa2F0ZSBHYW1lcyBUZWFtIENhbmFk%0AYSAyMDIyLGdyb3Vw%0A", id="chimp-button-script")

        // Portfolio Grid
        section#portfolio.page-section.bg-light
        .container
            .text-center
                h2.section-heading.text-uppercase TEAM CANADA 2022
                h4.section-subheading.text-muted We're sending 12 of our top Downhill Athletes to compete in the 2022 World Skate Games
                h3.section-subheading.text-muted Men's Downhill Team:
            .row
                .col-lg-4.col-sm-6.mb-4
                    // Portfolio item 1
                    .portfolio-item
                        a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal1')
                            //.portfolio-hover
                            //    .portfolio-hover-content
                            //        i.fas.fa-plus.fa-3x
                            img.img-fluid(src='assets/img/portfolio/dane/dane2.jpg', alt='Dane Hanna Photo')
                        .portfolio-caption
                            .portfolio-caption-heading Dane Hanna
                            .portfolio-caption-subheading.text-muted Pender Harbour, BC
                .col-lg-4.col-sm-6.mb-4
                    // Portfolio item 2
                    .portfolio-item
                        a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal2')
                            //.portfolio-hover
                            //    .portfolio-hover-content
                            //        i.fas.fa-plus.fa-3x
                            img.img-fluid(src='assets/img/portfolio/dex/dex2.jpg', alt='Dexter Manning')
                        .portfolio-caption
                            .portfolio-caption-heading Dexter Manning
                            .portfolio-caption-subheading.text-muted Toronto, ON
                .col-lg-4.col-sm-6.mb-4
                    // Portfolio item 3
                    .portfolio-item
                        a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal3')
                            //.portfolio-hover
                            //    .portfolio-hover-content
                            //        i.fas.fa-plus.fa-3x
                            img.img-fluid(src='assets/img/portfolio/troy/troy.jpg', alt='Troy Grenier')
                        .portfolio-caption
                            .portfolio-caption-heading Troy Grenier
                            .portfolio-caption-subheading.text-muted Abbostford, BC
                .col-lg-4.col-sm-6.mb-4.mb-lg-0
                    // Portfolio item 4
                    .portfolio-item
                        a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal4')
                            //.portfolio-hover
                            //    .portfolio-hover-content
                            //        i.fas.fa-plus.fa-3x
                            img.img-fluid(src='assets/img/portfolio/clay/clay2.jpg', alt='Clayton Arthurs')
                        .portfolio-caption
                            .portfolio-caption-heading Clayton Arthurs
                            .portfolio-caption-subheading.text-muted North Vancouver, BC
                .col-lg-4.col-sm-6.mb-4.mb-sm-0
                    // Portfolio item 5
                    .portfolio-item
                        a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal5')
                            //.portfolio-hover
                            //    .portfolio-hover-content
                            //        i.fas.fa-plus.fa-3x
                            img.img-fluid(src='assets/img/portfolio/sam/sam.jpg', alt='Samuel Sidorchuk')
                        .portfolio-caption
                            .portfolio-caption-heading Samuel Sidorchuk
                            .portfolio-caption-subheading.text-muted Vancouver, BC
                .col-lg-4.col-sm-6
                    // Portfolio item 6
                    .portfolio-item
                        a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal6')
                            //.portfolio-hover
                            //    .portfolio-hover-content
                            //        i.fas.fa-plus.fa-3x
                            img.img-fluid(src='assets/img/portfolio/cam/cam.jpg', alt='Cam Brickenden')
                        .portfolio-caption
                            .portfolio-caption-heading Cam Brickenden
                            .portfolio-caption-subheading.text-muted Toronto, ON
                .col-lg-4.col-sm-6.mb-4
            .container
                .text-center
                    h3.section-subheading.text-muted Women's Downhill Team:
                .row
                    .col-lg-4.col-sm-6.mb-4
                        // Portfolio item 1
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal7')
                                //.portfolio-hover
                                //    .portfolio-hover-content
                                //        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/kat/kat.jpg', alt='Katerina Hill')
                            .portfolio-caption
                                .portfolio-caption-heading Katerina Hill
                                .portfolio-caption-subheading.text-muted Abbotsford, BC
                    .col-lg-4.col-sm-6.mb-4
                        // Portfolio item 2
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal8')
                                //.portfolio-hover
                                //    .portfolio-hover-content
                                //        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/tessa/tessa.jpg', alt='Tessa Campbell')
                            .portfolio-caption
                                .portfolio-caption-heading Tessa Campbell
                                .portfolio-caption-subheading.text-muted West Vancouver, BC
                    .col-lg-4.col-sm-6.mb-4
                        // Portfolio item 3
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal9')
                                //.portfolio-hover
                                //    .portfolio-hover-content
                                //        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/amie/amie.jpg', alt='Amie Sheppard')
                            .portfolio-caption
                                .portfolio-caption-heading Amie Sheppard
                                .portfolio-caption-subheading.text-muted Caledon, ON
                    .col-lg-4.col-sm-6.mb-4.mb-lg-0
                        // Portfolio item 4
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal10')
                                //.portfolio-hover
                                //    .portfolio-hover-content
                                //        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/anna/anna.jpg', alt='Anna O\'Neill')
                            .portfolio-caption
                                .portfolio-caption-heading Anna O'Neill
                                .portfolio-caption-subheading.text-muted Calgary, AB
                    .col-lg-4.col-sm-6.mb-4.mb-sm-0
                        // Portfolio item 5
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal11')
                                //.portfolio-hover
                                //    .portfolio-hover-content
                                //        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/diane/diane5.jpg', alt='Diane Hiebert')
                            .portfolio-caption
                                .portfolio-caption-heading Diane Hiebert
                                .portfolio-caption-subheading.text-muted Abbotsford, BC
                    .col-lg-4.col-sm-6
                        // Portfolio item 6
                        .portfolio-item
                            a.portfolio-link(data-bs-toggle='modal', href='#portfolioModal12')
                                //.portfolio-hover
                                //    .portfolio-hover-content
                                //        i.fas.fa-plus.fa-3x
                                img.img-fluid(src='assets/img/portfolio/finch/finch3.jpg', alt='Elycia Finch')
                            .portfolio-caption
                                .portfolio-caption-heading Elycia Finch
                                .portfolio-caption-subheading.text-muted Kamloops, BC
        //Team
        //section#team.page-section.bg-light
        //    .container
        //        .text-center
        //            h2.section-heading.text-uppercase Our Amazing Team
        //            h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
        //        .row
        //            .col-lg-4
        //                .team-member
        //                    img.mx-auto.rounded-circle(src='assets/img/Canada_Skateboard_badge_tranparent-black-300x298.png', alt='...')
        //                    h4 Skateboard Canada
        //                    p.text-muted Lead Designer
        //                    a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Parveen Anand Twitter Profile')
        //                        i.fab.fa-twitter
        //                    a.btn.btn-dark.btn-social.mx-2(href='https://apps.cra-arc.gc.ca/ebci/hacc/srch/pub/dsplyRprtngPrd?q.srchNmFltr=skateboard&q.stts=0007&selectedCharityBn=703050294RR0001&dsrdPg=1', aria-label='Skateboard Canada T3010')
        //                        i.fa-solid.fa-hand-holding-heart
        //                    a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Parveen Anand LinkedIn Profile')
        //                        i.fab.fa-linkedin-in
                    //.col-lg-4
                    //    .team-member
                    //        img.mx-auto.rounded-circle(src='assets/img/team/2.jpg', alt='...')
                    //        h4 Diana Petersen
                    //        p.text-muted Lead Marketer
                    //        a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Diana Petersen Twitter Profile')
                    //            i.fab.fa-twitter
                    //        a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Diana Petersen Facebook Profile')
                    //            i.fab.fa-facebook-f
                    //        a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Diana Petersen LinkedIn Profile')
                    //            i.fab.fa-linkedin-in
                    //.col-lg-4
                    //    .team-member
                    //        img.mx-auto.rounded-circle(src='assets/img/team/3.jpg', alt='...')
                    //        h4 Larry Parker
                    //        p.text-muted Lead Developer
                    //        a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Larry Parker Twitter Profile')
                    //            i.fab.fa-twitter
                    //        a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Larry Parker Facebook Profile')
                    //            i.fab.fa-facebook-f
                    //        a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Larry Parker LinkedIn Profile')
                    //            i.fab.fa-linkedin-in
                    //.row
                    //    .col-lg-8.mx-auto.text-center
                    //        p.large.text-muted
                    //            | Canada Skateboard is the national body for skateboarding in Canada, recognized by the Canadian Olympic Committee and World Skate, the international federation. The organization is responsible for promoting skateboarding supporting long-term skateboarder development, organizing a national event series, and managing participation at international events.
                    //            | Canada Skateboard is not-for-profit corporation, and a Registered Canadian Amateur Athletic Association.
                    //

        // Clients
        div.py-5
            .container
                .row.align-items-center
                    .col-md-3.col-sm-6.my-3
                        a(href='#!')
                            img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/COC_TEAM_CMYK_KEYLINE_edited.png', alt='Canada Olympics', aria-label='Canada Olympics Logo')
                    .col-md-3.col-sm-6.my-3
                        a(href='#!')
                            img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/wordmark_C_png.png', alt='Canada', aria-label='Canada Logo')
                    //.col-md-3.col-sm-6.my-3
                    //    a(href='#!')
                    //        img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/Canada_Skateboard_badge_tranparent-black-300x298.png', alt='Canada Skateboard', aria-label='Canada Skateboard Logo')
                    .col-md-3.col-sm-6.my-3
                        a(href='#!')
                            img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/cces_logo_ENG_process_edited.png', alt='Clean Sport', aria-label='Clean Sport')
                    .col-md-3.col-sm-6.my-3
                        a(href='#!')
                            img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/WS_Logo_Black.png', alt='World Skate', aria-label='World Skate Logo')

        // Contact
        section#contact.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase Contact Us
                    h3.section-subheading.text-muted

                // * * * * * * * * * * * * * * *
                // * * SB Forms Contact Form * *
                // * * * * * * * * * * * * * * *

                // This form is pre-integrated with SB Forms.
                // To make this form functional, sign up at
                // https://startbootstrap.com/solution/contact-forms
                // to get an API token!

                form#contactForm(data-sb-form-api-token='6d3a1392-1d8c-4126-9b67-f11dcdf2121e')
                    .row.align-items-stretch.mb-5
                        .col-md-6
                            .form-group

                                // Name input
                                input#name.form-control(
                                    type='text',
                                    placeholder='Your Name *',
                                    data-sb-validations='required'
                                )
                                .invalid-feedback(data-sb-feedback='name:required')
                                    | A name is required.

                            .form-group

                                // Email address input
                                input#email.form-control(
                                    type='email',
                                    placeholder='Your Email *',
                                    data-sb-validations='required,email'
                                )
                                .invalid-feedback(data-sb-feedback='email:required')
                                    | An email is required.
                                .invalid-feedback(data-sb-feedback='email:email')
                                    | Email is not valid.

                            .form-group.mb-md-0

                                // Phone number input
                                input#phone.form-control(
                                    type='tel',
                                    placeholder='Your Phone *',
                                    data-sb-validations='required'
                                )
                                .invalid-feedback(data-sb-feedback='phone:required')
                                    | A phone number is required.

                        .col-md-6
                            .form-group.form-group-textarea.mb-md-0

                                // Message input
                                textarea#message.form-control(
                                    placeholder='Your Message *',
                                    data-sb-validations='required'
                                )
                                .invalid-feedback(data-sb-feedback='message:required')
                                    | A message is required.

                    #submitSuccessMessage.d-none
                        .text-center.text-white.mb-3
                            .fw-bolder Form submission successful!
                            //| To activate this form, sign up at
                            //br
                            //a(href='https://startbootstrap.com/solution/contact-forms') https://startbootstrap.com/solution/contact-forms


                    #submitErrorMessage.d-none
                        .text-center.text-danger.mb-3 Error sending message!

                    // Submit Button
                    .text-center
                        button#submitButton.btn.btn-primary.btn-xl.text-uppercase.disabled(type='submit') Send Message

        // Footer
        footer.footer.py-4
            .container
                .row.align-items-center
                    .col-lg-4.text-lg-start
                        | Copyright &copy; Canada DH Skateboarding 2022
                    .col-lg-4.my-3.my-lg-0
                        script(type="text/javascript", src="https://my.charitableimpact.com/widget/js/loader.js?MjIyNjIsbGFyZ2UsYmx1ZSxXb3JsZCBTa2F0ZSBHYW1lcyBUZWFtIENhbmFk%0AYSAyMDIyLGdyb3Vw%0A", id="chimp-button-script")

                    //    a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Twitter')
                    //        i.fab.fa-twitter
                    //    a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Facebook')
                    //        i.fab.fa-facebook-f
                    //    a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='LinkedIn')
                    //        i.fab.fa-linkedin-in
                    //.col-lg-4.text-lg-end
                    //    a.link-dark.text-decoration-none.me-3(href='#!') Privacy Policy
                    //    a.link-dark.text-decoration-none(href='#!') Terms of Use

        // Portfolio Modals
        include includes/portfolio-modal-1
        include includes/portfolio-modal-2
        include includes/portfolio-modal-3
        include includes/portfolio-modal-4
        include includes/portfolio-modal-5
        include includes/portfolio-modal-6
        include includes/portfolio-modal-7
        include includes/portfolio-modal-8
        include includes/portfolio-modal-9
        include includes/portfolio-modal-10
        include includes/portfolio-modal-11
        include includes/portfolio-modal-12

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
